body{
    margin:0;
    padding:0;
    border:0;
    color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat';
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

/* Particles.js CSS */
#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #edf4ff;
  top: 0;
  left: 0;
  z-index: 0;
  position: fixed;
}

/* Main Layout */
#content{
    display: block;
    width: 85%;
    padding: 5vh;
    justify-content:center;
    align-items:center;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    overflow-y: scroll;
    height: 80%;
}

/* Navigation Buttons */
.nav{
    color: #dddddd;
    background-color: transparent;
}
.nav:hover {
    color: #ffffff;
}
.btn{
    align-items: center;
    float: center;
    text-align: center;
}
p{
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
